VITE_REDBELLY_NETWORK=testnet
VITE_APP_NAME="KYC Dividend Distributor"
VITE_DISTRIBUTOR_ADDRESS=
VITE_RWA_TOKEN_ADDRESS=
VITE_PAYMENT_TOKEN_ADDRESS=
VITE_PAYMENT_TOKEN_DECIMALS=18
VITE_WALLETCONNECT_PROJECT_ID=
